name: Python package

on:
  push:
    branches: [ master ]

jobs:
  build:

    
    strategy:
      matrix:
        platform: [ubuntu-latest]
        python-version: [3.7]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r req.txt
    - name: Test with pytest
      run: |
        pytest test.py
    - name: Check docker installed or not
      run: docker run hello-world
    - name: Push to docker Hub
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: psrv3/devopswithpy
        tag_with_ref: true
    - name: Login to Heroku Container registry
      env: 
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:login 
    - name: Build and push
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:push -a ${{ secrets.HEROKU_APP_NAME }} web 
    - name: Release
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: |
        heroku container:release -a ${{ secrets.HEROKU_APP_NAME }} web
        sleep 50
      

